<footer>
	<nav class = "round">
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><a href="http://www.google.com">Google</a></li>
			<li><a href="http://paulgraham.com">Whatever</a></li>
		</ul>
	</nav>
</footer>
